html { 
	height: 100%; 
}

body {
	background-size: cover;
    background-image: url('./assets/img/background.jpg');
	background-repeat: no-repeat;
	height: 100%;
	background-repeat: repeat; 
}

#root {
	/* height: 100%; */
	display: flex;
    align-items: center;
}

.app-wrapper {
	width: 100%;
	margin: 0 auto;
	padding: 20px 10px;
	height: 100%;
	/* height: 100vh; */
}

.greeting span {
	background-color: #28a79fcc;
    font-size: 2rem;
    font-weight: 500;
    padding: 5px 30px;
    color: white;
    display: inline-block;
    border-radius: 0.3rem;
}

.propose {
	margin-top: 10px;
}

.propose span {
	background-color: #28a79fcc;
    font-size: 1.5rem;
    font-weight: 500;
    padding: 5px 30px;
    color: white;
}

form div {
	margin-top: 10px;
}

label {
	display: flex;
    flex-direction: column;
    align-items: center;
}

.name-input {
	text-align: center;
	font-weight: 700;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
	transition: all 0.15s ease-in-out;
	margin-top: 10px;
}

.button {
	display: inline-block;
    font-weight: 700;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: all 0.15s ease-in-out;
}

.button-start {
	background-color: #ffc107;
    border-color: #ffc107;
}

.button-again {
	color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}

.centered {
	text-align: center;
}

.game {
	display: flex;
    flex-direction: column;
    align-items: center;
}

.game-header {
	background-color: #28a79fcc;
    font-size: 1.5rem;
    font-weight: 500;
    padding: 5px 30px;
    color: white;
    display: inline-block;
}

.fields {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.field {
	width: 350px;
	margin-top: 40px;
	margin-left: 45px;
}

.field::after {
	clear: both;
	content: "";
	display: table;
}

.field-name {
	text-align: center;
}

.field-name span {
	/* background-color: #28a79fcc; */
    font-size: 1.5rem;
    font-weight: 500;
    padding: 5px 30px;
    color: white;
}

.cell {
	background: skyblue;
	border: 1px solid #999;
	float: left;
	font-size: 24px;
	font-weight: 700;
	line-height: 34px;
	height: 34px;
	margin-right: -1px;
	margin-top: -1px;
	padding: 0;
	text-align: center;
	width: 34px;
	position: relative;
}

.cell.visibleShip {
	background: #555;
}

.cell span.topLine {
	position: absolute;
	top: -2.4rem;
	left: 8px;
}

.cell span.leftColumn {
	position: absolute;
	top: -2px;
	left: -2rem;
}

.message-text {
	background-color: #28a79fcc;
    font-size: 1.5rem;
    font-weight: 500;
    padding: 5px 30px;
    color: white;
}

.score {
	background-color: #28a79fcc;
    font-size: 1rem;
    font-weight: 500;
    padding: 5px 30px;
    color: white;
    display: inline-block;
}

.score span {
	margin-right: 10px;
}

.again {
	margin-top: 10px;
}