body {
	background-size: cover;
    background-image: url(https://cdn.quizzclub.com/trivia/2016-11/kakoe-krupnoe-morskoe-srazhenie-vt…snovnymi-udarnymi-silami-s-obeih-storon-v-nem-vystupali-imenno-avianos.jpg);
    background-repeat: no-repeat;
}

.root {
	height: 100vh;
	display: flex;
    align-items: center;
}

.app-wrapper {
	width: 100%;
	margin: 0 auto;
	max-width: 700px;
	padding: 0 10px;
}

.centered {
	text-align: center;
}

.fields {
	display: flex;
    justify-content: center;
}

.field {
	width: 350px;
	margin-top: 50px;
	margin-left: 50px;
}

.field::after {
	clear: both;
	content: "";
	display: table;
}

.field-name {
	text-align: center;
}

.cell {
	background: skyblue;
	border: 1px solid #999;
	float: left;
	font-size: 24px;
	font-weight: 700;
	line-height: 34px;
	height: 34px;
	margin-right: -1px;
	margin-top: -1px;
	padding: 0;
	text-align: center;
	width: 34px;
	position: relative;
}

.cell.visibleShip {
	background: #555;
}

.cell span.topLine {
	position: absolute;
	top: -2.4rem;
	left: 8px;
}

.cell span.leftColumn {
	position: absolute;
	top: -2px;
	left: -2rem;
}